@import url('https://fonts.googleapis.com/css?family=Martel+Sans:400,700|Montserrat:400,700&display=swap');

body {
  color: rgb(10, 10, 10);
  background-color: #FFF4E4;
  font-family: 'Montserrat', sans-serif;
  line-height: 12px;
  font-size: 16px;

}

h1 {
  font-size: 32px;
  color: #0F0F0F;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  color: #0F0F0F;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

i {
  color: #FFF4E4;
}
img {
  size: 100px;
}

/* .class */
.container {
  width: 800px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card-white {
  background: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  border: 1px solid lightgrey;
}

.text-center {
  text-align: center;
}

.btn-blue {
  background-color: #9A879D;
  color: 0F0F0F;
  border-radius: 4px;
  padding: 16px 24px;
  border-radius: 4px;
  border: 1px solid transparent;
  text-decoration: none;
  font-weight: bold;
}

.btn-blue:hover {
  background-color: #480C49;
  color: white;
}

.img-circle {
  border-radius: 50%;
}

.list-inline li {
  list-style: none;
  padding: 0px 16px;
  display: inline-block;
  font-size: 50px;
}

.list-inline i:hover {
  color: 480C49;
}

.footer ul {
  padding-left: 0px;
}

/* #id */
#banner.card-white {
  padding: 40px 40px 64px;
}

#banner p {
  padding: 40px 56px;
  line-height: 32px;

}

#banner h1 {
  padding-bottom: 24px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
